/* Preloader css */
.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #299fd6;
  animation: disappear 4s linear forwards;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brainLoader {
  height: 100px;
  width: 100px;
  display: block;
  transform: scale(1);
  background-image: url(https://image.ibb.co/fkybha/loader.png);
  animation: loading 2s steps(75) infinite;
  margin: 0 auto;
}

@keyframes disappear {
  0%,
  90% {
    opacity: 1;
    z-index: 100;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes loading {
  0% {
    background-position: 0 0%;
  }
  100% {
    background-position: 0 100%;
  }
}
